<div class="container">
    <div class="card">

        <div class="card-header ">List of customers

            <div class="card-body" *ngIf="SearchformGroup">

                <form [formGroup]="SearchformGroup">
                    <div class="input-group">
                        <label class="input-group-text">Name :</label>
                        <input type="text" formControlName="Keyword" class="form-control">
                        <button class="btn  btn-info"><i class="bi bi-search"></i></button>
                    </div>

                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of customers">
                            <td>{{ c.id}}</td>
                            <td>{{c.name}}</td>
                            <td>{{ c.email}}</td>
                            <td><button class="btn btn-danger" (click)="HandleDelteCustomer(c)">
                                    <i class="bi bi-trash"></i>
                                </button></td>
                            <td><button class="btn btn-danger">
                                    <i class="bi bi-eyedropper"></i>
                                </button></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>